@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Round;
    src: url(Moon\ Bold.otf);
}
*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-family: 'Round';
    color: #223;
    --color-one: #f0e6ef;
    --color-two: #efc3e6;
    --color-three: #9c89b8;
    --color-four: #b8bedd;

    --color-one-dark: #d8c6d6;
    --color-two-dark: #d9b2d1;
    --color-three-dark: #8977a3;
    --color-four-dark: #9aa1c0;

    --color-two-darker: #c19eba;
    --color-four-darker: #7e86a8;
}
html{
    scroll-behavior: smooth;
    min-height: 100vh;
}
body{
    position: relative;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 1fr;
    background: linear-gradient(var(--color-one), var(--color-one-dark)) no-repeat;
    overflow-x: hidden;
}
gridfix{
    position: relative;
    z-index: -1;
}
aside{
    position: fixed;
    height: 100vh;
    width: 360px;
    padding: 22px;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-two);
    box-shadow: 0 0 10px var(--color-two), 0 0 20px var(--color-two-dark) inset;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
.container__placeholder h4{
    font-size: 28px;
    text-align: center;
    opacity: .3;
}
.container__placeholder h4 span{
    font-size: 28px;
    text-align: center;
    opacity: .6;
}
.container__followed{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followed__h4{
    align-self: flex-start;
    font-size: 1.6em;
    color: #fff;
    text-shadow: 1px 1px 2px #2234;
}
.followed__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 12px;
}
.container__max{
    margin-top: 16px;
    display: none;
}
.container__max-p{
    font-size: 16px;
    color: #e48;
    text-align: center;
}
.vanish{
    animation: vanish 2s;
    animation-fill-mode: forwards;
}
@keyframes vanish {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}
.list__item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0 4px #2234;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: background .3s;
    text-decoration: none;
}
.list__item:hover{
    background-color: #223;
}
.list__item:hover *{
    color: #fff;
}
.list__followers{
    margin-left: auto;
    font-size: .8em;
    align-self: flex-end;
    text-align: left;
}
.list__img-container{
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    border: solid #223 2px;
    overflow: hidden;
}
.list__img-container__img{
    height: 26px;
    width: 26px;
    object-fit: cover;
}
.container__upload{
    width: 280px;
    min-height: 280px;
    height: 280px;
    border-radius: 8px;
    background-color: var(--color-two-dark);
    box-shadow: 0 0 10px var(--color-two-darker) inset;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    transition: filter .3s;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
}
.container__upload:hover{
    filter: brightness(.8);
}
.container__upload h4{
    font-size: 1.6em;
    color: #222;
    text-shadow: 1px 1px 2px #2224;
    text-align: center;
}
.container__upload i{
    font-size: 88px;
    color: #222;
    margin-bottom: 32px;
}

.top-slider{
    width: 100%;
    min-width: 1000px;
    min-height: 360px;
    background-color: var(--color-three);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-three), 0 0 20px var(--color-three-dark) inset;
    display: flex;
    justify-content: space-around;
    padding: 10px;    /* border: solid var(--color-three-dark) 3px; */
}
.top-slider__video-container{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
}
.top-slider video{
    position: absolute;
    height: 340px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 0 10px #0004;

    transition: transform .3s;
    cursor: pointer;
}
.left:hover, .right:hover{
    filter: brightness(40%) blur(2px);
}
.leftleft:hover, .rightright:hover{
    filter: brightness(40%) blur(5px);
}
.leftleft{
    transform: scale(50%);
    left: 20%;
    filter: brightness(.5) blur(5px);
    z-index: 800;
}
.left{
    transform: scale(80%);
    left: 0;
    filter: brightness(.8) blur(2px);
    z-index: 900;
}
.center{
    z-index: 1000;
}
.right{
    transform: scale(80%);
    filter: brightness(.8) blur(2px);
    z-index: 900;
    right: 0;
}
.rightright{
    transform: scale(50%);
    filter: brightness(.5) blur(5px);
    z-index: 800;
    right: 20%;
}
.top-slider h4{
    color: #eee;
    font-size: 3.5em;
    align-self: center;
    width: 400px;
    text-align: center;
    text-shadow: 1px 1px 2px #0008;
    background-color: var(--color-four);
    box-shadow: 0 0 10px var(--color-four-dark), 0 0 10px var(--color-four-dark) inset;
    border-radius: 20px;
    padding: 12px;
}
.top-slider__left-arrow, .top-slider__right-arrow{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    align-self: center;
    background-color: #fff3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s, filter .3s;
    cursor: pointer;
    box-shadow: 0 0 4px #0004 inset, 0 0 4px #0004;

}
.top-slider__left-arrow:hover, .top-slider__right-arrow:hover{
    transform: scale(90%);
    filter: brightness(1.6);
}
.top-slider__left-arrow i, .top-slider__right-arrow i{
    font-size: 3em;
    color: #222;
    text-shadow: 1px 1px 4px #0004;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 22px;
    gap: 22px;
}
.cat-post{
    position: relative;
    width: 100%;
    height: max-content;
    flex-basis: 500px;
    background-color: var(--color-four);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-four), 0 0 10px var(--color-four-dark) inset;    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "photo description"
    "photo comments";
    padding: 16px;
    gap: 8px;
}
.profile__follow{
    position: relative;
    height: 32px;
    min-width: 32px;
    background-color: var(--color-two);
    border-radius: 6px;
    box-shadow: 0 0 6px var(--color-two);
    cursor: pointer;
    transition: background .3s, box-shadow .3s;
    margin-left: auto;
    align-self: flex-start;
}
.profile__follow:hover{
    background-color: #223a;
    box-shadow: 0 0 6px #223;
}
.profile__follow:hover > i{
    color: var(--color-two);
}
.profile__follow > i{
    position: relative;
    font-size: 1.2em;
    color: #223;
    transition: color .3s;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-post__img-container{
    grid-area: photo;
    background-color: #0004;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px #0008;
    transition: transform .4s, filter .4s;
    cursor: pointer;
}
.cat-post__img-container:hover{
    transform: scale(96%);
    filter: brightness(.8);
}
.post-img-container__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.cat-post__description{
    grid-area: description;
    height: 100%;
    width: 100%;
    background-color: #0002;
    border-radius: 7px;
    padding: .5em;
}
.description__profile{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile__img-container{
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #222;
    border-radius: 50%;
    overflow: hidden;
    min-width: 80px;
}
.img-container__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid #222 3px;
    border-radius: 50%;
}
.profile__h4{
    color: #223;
    font-size: 2em;
    font-weight: 800;
}
.description__p{
    padding: 20px;
    color: #eee;
}
.cat-post__comments{
    grid-area: comments;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #0002;
    border-radius: 7px;
    padding: 8px;
    position: relative;
}
.comments__comment{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.comments__comment > div:nth-child(3){
    width: 100%;
    transform: translate(68px,-20px);
}
.comment__profile-picture{
    height: 60px;
    max-width: 60px;
    min-width: 60px;
    background-color: #223;
    border-radius: 50%;
}
.comment__profile-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #223 solid 2px;
}
.comment__p{
    color: #eee;
}
.comments__input-bar{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    transform: translateX(-8px);
}
.comments__input-bar > input{
    height: 100%;
    padding: 1em;
    color: #222;
}
.comments__input-bar input:first-child{
    background-color: #eee;
    width: 100%;
    border-radius: 0 0 0 6px;
}
.comments__input-bar input:nth-child(2){
    cursor: pointer;
    background-color: var(--color-two);
    transition: filter .3s;
    border-radius: 0 0 6px 0;
}
.comments__input-bar input:nth-child(2):hover{
    filter: brightness(.9);
}

.loading{
    position: relative;
    height: 16px;
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.loading__dot{
    height: 14px;
    width: 14px;
    background-color: #223;
    border-radius: 50%;
}
.loading__dot:first-child{
    animation: loading .6s infinite alternate;
}
.loading__dot:nth-child(2){
    animation: loading .6s infinite alternate;
    animation-delay: .2s;
}
.loading__dot:nth-child(3){
    animation: loading .6s infinite alternate;
    animation-delay: .4s;
}
@keyframes loading {
    0%{

    }100%{
        transform: translateY(-20px);
    }
}
.cat-tree-open-comfirmation{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: #0004;
}
.cat-tree-open-comfirmation > div{
    height: 300px;
    width: 600px;
    border-radius: 16px;
    background-color: #222;
    position: fixed;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.453);
}
.cat-tree-open-comfirmation p{
    color: #eee;
    font-size: 2em;
    width: 70%;
    text-align: center;
}
.cat-tree-open-comfirmation__btn-div{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    gap: 64px;
}
.cat-tree-open-comfirmation__btn-div div{
    font-size: 1em;
    padding: 24px;
    padding-bottom: 40px;
    border-radius: 12px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}
.cat-tree-open-comfirmation__btn-div div:first-child{
    background-color: rgb(128, 199, 80);
}
.cat-tree-open-comfirmation__btn-div div:nth-child(2){
    background-color: #e48;
}
.popup{
    animation: popup .3s;
}
.unpopup{
    animation: unpopup .2s;
    animation-fill-mode: forwards;
}
@keyframes popup {
    0%{
        transform: scale(110%);
        opacity: 0;
    }
    100%{
        transform: scale(100%);
        opacity: 1;
    }
}
@keyframes unpopup {
    0%{
        transform: scale(100%);
        opacity: 1;
    }
    100%{
        transform: scale(110%);
        opacity: 0;
    }
}

.cat-tree{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #0004;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}
.cat-tree__div{
    width: 600px;
    border-radius: 16px;
    background-color: var(--color-four);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    gap: 24px;
}
.cat-tree__div > div{
    background-color: var(--color-four-dark);
    padding: 1.4em;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .3s, filter .3s;
}
.cat-tree__div > div:hover{
    transform: scale(95%);
    filter: brightness(.95);
}
.cat-tree__div div p{
    color: #eee;
    font-size: 1.4em;
    text-align: center;
}

.title{
    width: 100%;
    height: 200px;
    background-color: var(--color-four);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-four-dark), 0 0 10px var(--color-four-dark) inset;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title h1{
    font-size: 82px;
    color: #eee;
    text-shadow: 1px 1px 4px #0008;
}
.title__img-div img{
    height: 76px;
    filter: drop-shadow(1px 1px 3px #0008);
}
.title-social{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 12px;
}
.title-social i{
    color: #222;
    font-size: 48px;
    transition: transform .3s, color .3s;
    cursor: pointer;
}
.title-social i:hover{
    transform: scale(95%);
    color: #333;
}

.upload-screen{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0004;
    z-index: 1000000
}
.upload-screen__close, .edit-post-screen__close{
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}
.upload-screen__close i, .edit-post-screen__close i{
    font-size: 42px;
    text-shadow: 1px 1px 4px #0008;
    color: #eee;
}
.upload-screen__div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    height: 40vw;
    width: 40vw;
    border-radius: 5%;
    box-shadow: 0 0 20px #0004 inset, 0 0 20px #0004;
    background-color: #222;
}
.upload-screen__div > h4{
    margin-top: 2em;
    color: #eee;
    font-size: 2em;
    width: 70%;
    text-align: center;
    user-select: none;
}
.upload-screen__p{
    font-size: 26px;
    color: #e48;
    display: none;
}
.upload-screen__filereader-box{
    position: relative;
    background-color: #111;
    width: 100%;
    height: 16vw;
    border-radius: 32px;
    box-shadow: 0 0 10px #000 inset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;    
    transition: filter .3s;
    cursor: pointer;
}
.upload-screen__filereader-box h4{
    color: #eee;
    font-size: 2em;
    width: 60%;
    text-align: center;
}
.upload-screen__filereader-box input{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.upload-screen__filereader-box i{
    color: #333;
    font-size: 7em;
    text-shadow: 1px 1px 10px #0004;
}
.upload-screen__filereader-box:hover{
    filter: brightness(.85);
}
.edit-post-screen{
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0006;
    z-index: 100000;
}
.edit-post-screen > h4{
    font-size: 4em;
    color: #eee;
    text-shadow: 1px 1px 4px #0008;
}
.edit-post-screen__div{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    height: 700px;
    width: 70vw; min-width: 70vw; max-width: 70vw;
    background-color: var(--color-four);
    border-radius: 22px;
    box-shadow: 0 0 10px #0004, 0 0 10px var(--color-four-dark) inset;
    padding: 22px;
}
.edit-post-screen__img-container{
    height: 100%;
    width: 100%;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--color-four-dark);
}
.edit-post-screen__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.edit-post-screen__edit-desc{
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.edit-post-screen__edit-desc h4{
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px 4px #0008;
    align-self: flex-start;
    margin-top: 12px;
}
.edit-post-screen__edit-desc textarea{
    resize: none;
    height: 20%;
    width: 90%;
    border-radius: 22px;
    padding: 16px;
    background-color: var(--color-four-dark);
    color: #eee;
    font-size: 1em;
    box-shadow: 0 0 4px var(--color-four-darker) inset;
}
.edit-post-screen__edit-desc textarea::placeholder{
    color: var(--color-four-darker);
}
.edit-post-screen__filters-div{
    display: flex;
    padding: 16px;
    gap: 24px;
    overflow: hidden;
    max-width: 36vw;
    box-shadow: 0 0 4px #0004 inset;
    border-radius: 100px;
}
.edit-post-screen__filter{
    height: 48px;
    padding: 0 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0 0 10px #0008;
    background-color: #222;
    user-select: none;
    color: #eee;
    text-shadow: 1px 1px 4px #000;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform .3s, background .3s;
}
.edit-post-screen__filter:nth-child(6){
    min-width: 170px;
}
.edit-post-screen__filter:hover{
    transform: scale(95%);
    background-color: #333;
}
.edit-post-screen__share-btn{
    margin-top: auto;
    width: 100%;
    height: 80px;
    border-radius: 12px;
    font-size: 1.2em;
    box-shadow: 0 0 4px #0004;
    transition: background .3s, color .3s;
    cursor: pointer;
}
.edit-post-screen__share-btn:hover{
    background-color: #222;
    color: #eee;
}
.edit-post-screen__filters-drag{
    width: 80%;
}

@media screen and (max-width: 1500px) {
    .upload-screen__div > h4{
        font-size: 2vw;
        color: #eee;
        text-shadow: 1px 1px 4px #0008;
    }
    .upload-screen__filereader-box h4{
        color: #eee;
        font-size: 1.5vw;
        width: 60%;
        text-align: center;
    }
    .upload-screen__filereader-box i{
        font-size: 8vw;
    }
}